/* #region RESET */
:root {
    --header-blue: #ADD8E6;
    --nav-yellow: #DAA520;
    --hero-blue: #00008B;
    --hero-pink: #EE81EE;
    --box-blue: #1C90FF;
    --box-pink: #FEC0CA;
    --box-green: #228B21;
    --footer-pink: #EF8080;
    --footer-green: #20B1A9;
    --footer-aqua: #7FFFD3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion  */
/* #region DEBUG */
.debug .header-box>*,
.hero-box,
.cols,
.bottom-footer>* {
    border: 1px dashed;
}

/* #endregion  */
/* #region GENERAL */
body {
    scroll-behavior: smooth;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.flexbox {
    display: flex;
}

/* #endregion  */
/* #region HEADER */
header {
    background-color: var(--header-blue);
}

.header-box {
    width: 70%;
    min-height: 40px;
    justify-content: space-between;
    align-items: center;
}

/*-------------------
    header box
-------------------*/
.header-box * {
    background-color: var(--nav-yellow);
    padding: 2px 6px;
    font-size: 12px;
}

.logo {
    flex-grow: 1;
}

.header-nav {
    flex-grow: 2;
    text-align: center;
}

.header-nav a {
    text-decoration: none;
    color: black;
}

.login-sect {
    flex-grow: 1;
    text-align: right;
}

/* #endregion  */
/* #region HERO */
.hero {
    background-color: var(--hero-blue);
    min-height: 350px;
}

.hero-box {
    background-color: var(--hero-pink);
    width: 60%;
    min-height: 290px;
    align-self: center;
}

/* #endregion  */
/* #region SECTIONS */
section {
    background-color: #ffffff;
    min-height: 370px;
    padding: 20px;
    align-items: center;
}

section:nth-child(odd) {
    background-color: #D3D3D3;
}

.section-box {
    width: 70%;
    min-height: 340px;
}

/*-------------------
    section columns
-------------------*/
.col-25 {
    width: 25%;
    border-color: #ffffff;
}

.col-40 {
    width: 40%;
}

.col-60 {
    width: 60%;
}


.col-100 {
    width: 100%;
}

.bg-blue {
    background-color: var(--box-blue);
}

.bg-pink {
    background-color: var(--box-pink);
}

.bg-green {
    background-color: var(--box-green);
}

.bg-fpink {
    background-color: var(--footer-pink);
}

.bg-fgreen {
    background-color: var(--footer-green);
}

/* #endregion  */
/* #region FOOTER */
footer {
    flex-direction: column;
    background-color: #23272A;
    min-height: 370px;
    justify-content: space-around;
}

footer>.section-box {
    width: 70%;
    padding: 15px;
    align-self: center;
}

.f-border {
    border-top: 1px solid #CDCDCD;
    padding: 19px 19px 0 19px;
}

.bottom-footer {
    min-height: 30px;
    width: 70%;
    background-color: var(--footer-aqua);
    justify-content: space-between;
    align-items: center;
    align-self: center;
}

.bottom-footer>* {
    font-size: 10px;
    padding: 2px 4px;
    background-color: var(--footer-pink);
}

/* #endregion  */